---
layout: default
---

{% for post in paginator.posts %}
  {% include post_medium.html %}
{% endfor %}


<nav id="pages">
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="{{site.base_url}}/" class="previous">&lt;&lt; Vorige Seite</a>
    {% else %}
        <a href="{{site.base_url}}/page{{paginator.previous_page}}" class="previous">&lt;&lt; Vorige Seite</a>
    {% endif %}
{% else %}
    <span class="previous">&lt;&lt; Vorige Seite</a>
{% endif %}

&bull;

Seite {{paginator.page}} von {{paginator.total_pages}} (insgesamt {{ paginator.total_posts }} Posts)

&bull;

{% if paginator.next_page %}
    <a href="{{site.base_url}}/page{{paginator.next_page}}" class="next">Nächste Seite &gt;&gt;</a>
{% else %}
    <span class="previous">Nächste Seite &gt;&gt;</a>
{% endif %}
</nav>
