<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>fabianonline.de / {{ page.title }}</title>
    <link href="{{ site.base_url }}/css/pygments.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.base_url }}/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="everything">
      <header>
        <div id="title">
            <h1>fabianonline.de</h1>
            <h2>Fabian. Online.</h2>
        </div>
        <div id="header_image"></div>
      </header>

      <div id="content">
          {{ content }}
      </div>

      <footer>
          Copyright und so
      </footer>
    </div>
  </body>
</html>

